# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.vpw*
*.vpj
*.vpwhist
.vscode

# Tag files
.tags*
*.vtg
tags

# OSX
.DS_Store

# Built result files
build
WinDebug

# Python caches
__pycache__
*.pyc

# Cache for external build scripts
script.cache
