[project]
	description = Multi-platform game engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lovewinds
[access "refs/for/refs/*"]
	read = group user/lovewinds
	push = group user/lovewinds
	label-Code-Review = -2..+2 group user/lovewinds
	label-Verified = -1..+1 group user/lovewinds
	rebase = group user/lovewinds
	removeReviewer = group user/lovewinds
	submit = group user/lovewinds
[access "refs/heads/*"]
	read = group user/lovewinds
	create = group user/lovewinds
	push = +force group user/lovewinds
	pushMerge = group user/lovewinds
[access "refs/tags/*"]
	push = +force group user/lovewinds
	pushTag = group user/lovewinds
	pushSignedTag = group user/lovewinds
